BackendServices/api_keys.py
BackendServices/*.pyc
BackendServices/xml.pkl
.idea/
WhichIsBigger.xcworkspace/xcuserdata/ploury.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Target Support Files/Pods-WhichIsBigger-Masonry
Pods/Pods.xcodeproj/xcuserdata/ploury.xcuserdatad/xcschemes/Pods-WhichIsBigger-Masonry.xcscheme
Pods/Masonry
Pods/Headers/Public/Masonry
Pods/Headers/Private/Masonry
