BackendServices/*
BackendServices/api_keys.py
BackendServices/*.pyc
BackendServices/xml.pkl
.idea/
WhichIsBigger.xcworkspace/xcuserdata/ploury.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Target Support Files/Pods-WhichIsBigger-Masonry
Pods/Pods.xcodeproj/xcuserdata/ploury.xcuserdatad/xcschemes/Pods-WhichIsBigger-Masonry.xcscheme
Pods/Masonry
Pods/Headers/Public/Masonry
Pods/Headers/Private/Masonry
Podfile.lock
pop
Shimmer
Manifest.lock
project.pbxproj
Pods-WhichIsBigger-Bolts.xcscheme
Pods-WhichIsBigger-Parse.xcscheme
Pods-WhichIsBigger-ParseUI.xcscheme
Pods-WhichIsBigger-pop.xcscheme
Pods-WhichIsBigger-Shimmer.xcscheme
Pods-WhichIsBigger.xcscheme
xcschememanagement.plist
Pods-WhichIsBigger-Bolts-Private.xcconfig
Pods-WhichIsBigger-Parse-Private.xcconfig
Pods-WhichIsBigger-ParseUI-Private.xcconfig
Pods-WhichIsBigger-pop
Pods-WhichIsBigger-Shimmer
Pods-WhichIsBigger-acknowledgements.markdown
Pods-WhichIsBigger-acknowledgements.plist
Pods-WhichIsBigger-environment.h
Pods-WhichIsBigger.debug.xcconfig
Pods-WhichIsBigger.release.xcconfig
BFCancellationToken.h
BFCancellationToken.m
BFCancellationTokenRegistration.h
BFCancellationTokenRegistration.m
BFCancellationTokenSource.h
BFCancellationTokenSource.m
BFTask.h
BFTask.m
Bolts.h
BoltsVersion.h
Readme.md
libParse.a
Parse.h
PFConstants.h
PFFile.h
PFGeoPoint.h
PFInstallation.h
PFNetworkActivityIndicatorManager.h
PFObject+Subclass.h
PFPush.h
PFQuery.h
PFTwitterUtils.h
Parse
PFAlertView.m
PFLogInViewController.h
PFLogInViewController.m
PFQueryCollectionViewController.h
PFQueryCollectionViewController.m
PFQueryTableViewController.h
PFQueryTableViewController.m
PFResources.h
ParseUI.strings
Pods-WhichIsBigger-Parse.xcconfig
WhichIsBigger.xccheckout
greenCheck.png
questionMark.png
redX.png
xcuserdata
wib120.jpg
wib120.png
Canvas
Pods-WhichIsBigger-Canvas
Screenshots
Pods-WhichIsBigger-ParseFacebookUtils
Pods-WhichIsBigger-Facebook-iOS-SDK
ParseFacebookUtils
Facebook-iOS-SDK
BFWebViewAppLinkResolver.h
BFURL.h
BFURL_Internal.h
BFMeasurementEvent.h
BFMeasurementEvent_Internal.h
BFAppLinkTarget.h
BFAppLinkReturnToRefererView.h
BFAppLinkReturnToRefererView_Internal.h
BFAppLinkReturnToRefererController.h
BFAppLinkResolving.h
BFAppLinkNavigation.h
BFAppLink.h
BFAppLink_Internal.h
iOS
Pods-WhichIsBigger-FBSDKShareKit
Pods-WhichIsBigger-FBSDKLoginKit
Pods-WhichIsBigger-FBSDKCoreKit
FBSDKShareKit
FBSDKLoginKit
FBSDKCoreKit
Pods/
PFAlertView.h
Empty.m
PFProductTableViewController.m
PFSignUpViewController.m
PFImageView.m
Pods-WhichIsBigger-ParseUI.xcconfig
Pods-WhichIsBigger-resources.sh
BackendServices/cherry1.csv
BackendServices/cherry2.csv
.DS_Store
WhichIsBigger copy
WIB Screenshots
/DerivedData
