BackendServices/api_keys.py
BackendServices/*.pyc
BackendServices/xml.pkl
.idea/
WhichIsBigger.xcworkspace/xcuserdata/ploury.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Target Support Files/Pods-WhichIsBigger-Masonry
Pods/Pods.xcodeproj/xcuserdata/ploury.xcuserdatad/xcschemes/Pods-WhichIsBigger-Masonry.xcscheme
Pods/Masonry
Pods/Headers/Public/Masonry
Pods/Headers/Private/Masonry
Podfile
Podfile.lock
pop
Shimmer
Manifest.lock
project.pbxproj
Pods-WhichIsBigger-Bolts.xcscheme
Pods-WhichIsBigger-Parse.xcscheme
Pods-WhichIsBigger-ParseUI.xcscheme
Pods-WhichIsBigger-pop.xcscheme
Pods-WhichIsBigger-Shimmer.xcscheme
Pods-WhichIsBigger.xcscheme
xcschememanagement.plist
Pods-WhichIsBigger-Bolts-Private.xcconfig
Pods-WhichIsBigger-Parse-Private.xcconfig
Pods-WhichIsBigger-ParseUI-Private.xcconfig
Pods-WhichIsBigger-pop
Pods-WhichIsBigger-Shimmer
Pods-WhichIsBigger-acknowledgements.markdown
Pods-WhichIsBigger-acknowledgements.plist
Pods-WhichIsBigger-environment.h
Pods-WhichIsBigger.debug.xcconfig
Pods-WhichIsBigger.release.xcconfig
