<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771604185027-j6c8qf0rre19ol4nu9f9kvfpoqvv4u4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771604185027-j6c8qf0rre19ol4nu9f9kvfpoqvv4u4r</string>
	<key>API_KEY</key>
	<string>AIzaSyC6N7BjcUD_GJtM_e8eGUFgVflWui6C9-c</string>
	<key>GCM_SENDER_ID</key>
	<string>771604185027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atp.WhichIsBigger</string>
	<key>PROJECT_ID</key>
	<string>which-is-bigger</string>
	<key>STORAGE_BUCKET</key>
	<string>which-is-bigger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771604185027:ios:c6b53b8597588ef2</string>
	<key>DATABASE_URL</key>
	<string>https://which-is-bigger.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4490282633558794~6852699468</string>
</dict>
</plist>